* {
    font-family: "Open Sans", sans-serif;
}

.panel-body {
    display: flex;
}

#weather, #forecast {
    flex: 1;
}

#map {
    flex: 2;
}

.panel {
    margin-bottom: 0;
}

section, #buttons {
    margin-top: 20px;
}

.list-group-item {
    border: none;
}

.list-group {
    margin-right: 15px;
}

#main-icon {
    margin-right: 10px;
}